.home {
    /*background: url("/Assets/image/background.jpg") center center /cover;*/
    height: 100vh;
    display: grid;
    grid:
    "home-nav home-nav" auto
    "home-photo home-des " 1fr
    /1fr 1fr;
}

.home-photo {
    grid-area: home-photo;
    background: deeppink;
    background: url("/Assets/image/IMG_3388.jpg") center center /cover;
}

.home-des {
    grid-area: home-des;
}

.home-p {
    text-align: justify;
}

.home-nav {
    grid-area: home-nav;
}