.p2 {
    display: grid;
    grid : "p2-card p2-photo" 1fr
    "p2-card p2-photo " 1fr
    "p2-des p2-des" 1fr
    / 1fr 1fr;
    height: 80vh;
}
.p2-photo{
    grid-area: p2-photo;
    background: red;
}
.p2-card{
    grid-area: p2-card;
    background: blue;
}
.p2-des{
    grid-area: p2-des;

}