@import "project1.css";
@import "project2.css";
@import "project3.css";
@import "navbar.css";
@import "footer.css";
@import "home.css";
@import "card.css";

body{
    background: url("/Assets/image/background.jpg") center center /cover;
    overflow: auto;
}
h1, h2, h3,h4, h5,h6,p, ul , li{
    color: white;
}
hr{
    color: white;
}